<div class="policy">
  <div class="container">
    <div class="intro flex flex-column gap-3">
      <p>
        8WORX, Inc and its group companies (collectively 8WORX, 8X, "we", "us",
        and "ours") is committed to protecting your privacy. This Privacy Notice
        (“Notice”) describes how 8WORX processes Personal Data in its capacity
        as a controller (i.e. 8WORX decides what Personal Data is collected and
        what it is used for) or processor (i.e. 8WORX only processes the data as
        per the controller's instructions), as the case may be. It also
        describes your choices regarding use, access and correction of your
        Personal Data.
      </p>
      <p>
        This Notice applies to (i) entities or individuals, excluding End-Users
        and Users, who have subscribed to our Service(s) and have agreed to the
        Terms (hereinafter referred to as the “Customer”) and (ii) individuals
        (“Individuals”) from whom 8WORX collects data as a controller as
        specified below.
      </p>
      <h3>8X CRM Mobile App</h3>
      <p>
        8X CRM Mobile App is provided for companies' employees, by using it,
        you've approved that the app is accessing your call logs, location for
        business needs. We do not use or sell these information to anyone, these
        information is used by your direct manager to track your perfromance and
        manage your KPIs as your employer.
      </p>
      <ol type="1" class="list">
        <li>Information We Collect</li>
        <li class="pt-2">How We Use Information We Collect</li>
      </ol>
    </div>
    <hr class="hr" />
    <div class="collected-info flex flex-column gap-3">
      <h2>1. Information We Collect</h2>
      <h3>Our Use of the Subscription Service</h3>
      <p>
        We use our own Subscription Service to build webpages that people can
        visit to learn more about 8WORX. Information that we collect and manage
        using the Subscription Service for our own marketing belongs to us and
        is used, disclosed and protected according to this Privacy Policy.
      </p>
      <h3>When You Visit our Website or Using our Mobile App</h3>
      <p>
        You are free to explore our Website without providing any Personal
        Information about yourself. When you visit the Website or register for
        the Subscription Service via the app as well, we request that you
        provide Personal Information about yourself, and we collect Navigational
        Information.
      </p>
      <h3>Personal Data</h3>
      <p>
        When you visit our Websites or participate in 8worx’s events, 8worx may
        collect information, which may include Personal Data, from Individuals
        as set forth below (collectively referred to as “Collected Data”). For
        the purposes of General Data Protection Regulation (GDPR), 8worx shall
        be the controller for the Collected Data – this means that 8worx decides
        what Collected Data is processed and why.
      </p>
      <h3>Sign-up, billing and Account information (Sensitive Information)</h3>
      <p>
        When you subscribe and sign-up to any of our Service(s), we may collect
        your (i) contact information such as name, e-mail address, mailing
        address, IP address, geographic location, or phone number of the Account
        admin; (ii) billing information, such as credit card number and billing
        address; (iii) name and e-mail address when Account admin/Agent(s)
        provide feedback from within the Service(s); and (iv) unique
        identifiers, such as username, account number or password.
      </p>
      <p>
        Subject to this Notice and the Terms, we will use such data, including
        without limitation, to (i) provide you the Service(s); (ii) send you
        communication from the Service(s); (iii) assess needs of your business
        to determine or suggest suitable Service(s); (iv) send you requested
        information about the Service(s); (v) respond to customer service
        requests, questions and concerns; (vi) administer your Account; (vii)
        send you promotional and marketing communications (where you have
        requested us to do so); and (viii) facilitate your transactions with
        other users when you use our Service(s).
      </p>
      <h3>Cookies and Similar Technologies</h3>
      <p>
        We and our third party advertising partners use cookies and similar
        technologies in analyzing trends, administering the website, tracking
        users’ movements around the site, and gathering demographic information
        about our user base as a whole. We may receive reports based on the use
        of these technologies by these companies on an individual and aggregated
        basis. Most web browsers support cookies and users can control the use
        of cookies at the individual browser level. Please note that if you
        choose to disable cookies, it may limit your use of certain features or
        functions on our Websites and services.
      </p>
      <p>
        As is true of most websites, we gather certain information automatically
        and store it in log files. This information may include internet
        protocol (IP) addresses, browser type, internet service provider (ISP),
        referring/exit pages, the files viewed on our Website (e.g., HTML pages,
        graphics, etc.), operating system, date/time stamp, and/or clickstream
        data. We link this automatically collected data to other data we collect
        about you. We do this mainly to improve services We offer you, to
        improve marketing, analytics, and/or Website performance and
        functionality.
      </p>
      <h3>Marketing communications</h3>
      <p>
        We may use your e-mail address, collected as part of Collected Data, to
        send our newsletters and/or marketing communications about our products
        and services. Where you have so requested, we will also send you
        marketing communications about our third party partners. If you no
        longer wish to receive these communications, you can opt out by
        following the instructions contained in the e-mails you receive or by
        contacting us at
        <a class="worx" href="mailto:support@8worx.com"
          >support&commat;8worx.com.</a
        >
      </p>
      <h3>Log Files</h3>
      <p>
        When you view content provided by us, we automatically collect
        information about your computer hardware and software. This information
        can include your IP address, browser type, domain names, internet
        service provider (ISP), the files viewed on our site (e.g., HTML pages,
        graphics, etc.), operating system, clickstream data, access times and
        referring website addresses. This information is used by 8worx to
        provide general statistics regarding use of the Website. For these
        purposes, we link this automatically-collected data to Personal
        Information such as name, email address, address, and phone number.
      </p>
      <h3>Information we collect from third parties</h3>
      <p>
        From time to time, we may receive Personal Information about you from
        third party sources including partners with which we offer co-branded
        services or engage in joint marketing activities, and publicly available
        sources such as social media Website.
      </p>
    </div>
    <hr class="hr" />
    <div class="info-usage flex flex-column gap-3">
      <h2>2. How We Use Information We Collect</h2>
      <h3>Compliance with Our Privacy Policy</h3>
      <p>
        We use the information we collect only in compliance with this Privacy
        Policy. Customers who subscribe to our Subscription Services are
        obligated through our agreements with them to comply with this Privacy
        Policy.
      </p>
      <h3>We Never Sell Personal Information</h3>
      <p>We will never sell your Personal Information to any third party.</p>
      <p class="text-900 font-bold">
        In addition to the uses identified elsewhere in this Privacy Policy, we
        may use your Personal Information to:
      </p>
      <ul class="list">
        <li>
          Improve your browsing experience by personalizing the Website and to
          improve the Subscription Service.
        </li>
        <li>
          Send information or 8worx content to you which we think may be of
          interest to you by post, email, or other means and send you marketing
          communications relating to our business.
        </li>
        <li>
          Promote use of our services to you and share promotional and
          information content with you in accordance with your communication
          preferences.
        </li>
        <li>
          Provide other companies with statistical information about our users
          -- but this information will not be used to identify any individual
          user.
        </li>
        <li>
          Send information to you regarding changes to our Customer Terms of
          Service, Privacy Policy (including the Cookie Policy), or other legal
          agreements.
        </li>
        <li>Meet legal requirements.</li>
      </ul>
      <p>
        We may use your email address, collected as part of Collected Data, to
        send our newsletters and/or marketing communications about our products
        and services. Where you have so requested, we will also send you
        marketing communications about our third party partners. If you no
        longer wish to receive these communications, you can opt out by
        following the instructions contained in the emails you receive or by
        contacting us at support&commat;8worx.com.
      </p>
      <h3>
        Legal basis for processing Personal Information (EEA visitors only)
      </h3>
      <p>
        If you are a visitor located in the European Economic Area ("EEA''),
        8worx is the data controller of your personal information. 8worx's Data
        Protection Officer can be contacted at support&commat;8worx.com.
      </p>
      <p>
        Our legal basis for collecting and using the personal information
        described above will depend on the personal information concerned and
        the specific context in which we collect it. However, we will normally
        collect personal information from you only where we have your consent to
        do so, where we need the personal information to perform a contract with
        you, or where the processing is in our legitimate interests and not
        overridden by your data protection interests or fundamental rights and
        freedoms. In some cases, we may also have a legal obligation to collect
        personal information from you.
      </p>
      <p>
        If we ask you to provide personal information to comply with a legal
        requirement or to perform a contract with you, we will make this clear
        at the relevant time and advise you whether the provision of your
        personal information is mandatory or not (as well as of the possible
        consequences if you do not provide your personal information).
        Similarly, if we collect and use your personal information in reliance
        on our legitimate interests (or those of any third party), we will make
        clear to you at the relevant time what those legitimate interests are.
      </p>
      <h3>Security of your Personal Information</h3>
      <p>
        When you visit our Websites or participate in 8worx’s events, 8worx may
        collect information, which may include Personal Data, from Individuals
        as set forth below (collectively referred to as “Collected Data ''). For
        the purposes of General Data Protection Regulation (GDPR), 8worx shall
        be the controller for the Collected Data – this means that 8worx decides
        what Collected Data is processed and why.
      </p>
      <h3>Call log</h3>
      <p>
        When you use the mobile application and allow the call logs feature, we
        will automatically display your call history in your account on the
        application in order to track customer numbers and you will have the
        option to sync your call log data with the system to record the duration
        of calls to the numbers in the system. Rest assured that we do not use
        this feature on our end until you request it and also rest assured that
        we do not share your data.
      </p>
      <h3>Location</h3>
      <p>
        When you use the mobile application and want to create check-ins you
        should allow location permission to find your coordinates.
      </p>
      <h3>Photos and Images</h3>
      <p>
        We require access to your device's storage to enable you to upload
        photos to 8X CRM App. it's not mandatory to accept the permission but
        required if you want to upload images to the system. EX. while creating
        New Unit with it's images.
      </p>
      <h3>Documents and Files</h3>
      <p>
        We require access to your device's storage to enable you to upload
        documents and files to 8X CRM App. it's not mandatory to accept the
        permission but required if you want to upload photos to the system. EX.
        while creating New Lead, Case or Resource.
      </p>
      <h3>Contact List</h3>
      <p>
        We want to assure our valued clients that our mobile application does
        not ask for or need any permissions to access your contact list. We want
        to be clear that we do not gather, keep, or use any data from your
        contact list.
      </p>
      <p>
        At our company, we prioritize the privacy and security of our users. We
        have implemented stringent measures to ensure that your personal
        information remains safe. It is important to note that we do not request
        any permissions related to your contact list.
      </p>
      <p>
        Our strict privacy practices ensure that your data is protected at all
        times.
      </p>
      <p>
        We understand the importance of safeguarding your personal information,
        and we are committed to maintaining the highest level of security and
        privacy standards.
      </p>
      <h3>Log Data</h3>
      <p>
        We want to inform you that whenever you use our Service, in the case of
        an error in the app we collect data and information (through third-party
        products) on your phone called Log Data. This Log Data may include
        information such as your device Internet Protocol (“IP”) address, device
        name, operating system version, the configuration of the app when
        utilizing our Service, the time and date of your use of the Service, and
        other statistics.
      </p>
    </div>
  </div>
</div>
