.step-btn {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: linear-gradient(135deg, #3475d4 0%, #5b9aef 100%);

  &:hover {
    background: linear-gradient(135deg, #2d67beff 0%, #5b9aef 100%);
  }
}
:host ::ng-deep {
  .p-inputtext {
    background-color: #f5f5f5;
    height: 53px;
    padding: 10px 16px;
    font-size: 22px;
    line-height: 1.318;
  }

  .p-inputgroup {
    height: 53px;
    .p-inputgroupaddon {
      min-width: initial;
      width: 50%;
      background-color: #f5f5f5;
    }
  }

  [data-pc-name="inputgroupaddon"] {
    width: 100%;
  }

  .p-select {
    width: 100%;
    height: 53px;
    box-shadow: none;
    background-color: transparent;
    border: none;
    font-size: 22px;
    &:hover,
    &:focus-visible {
      border: none;
    }
    .p-select-filter {
      width: 100%;
    }
  }
}
.error {
  display: block;
  color: #dc2626;
  margin-top: 5px;
}
