<header class="header">
  <div class="container">
    <div class="flex flex-wrap align-items-center justify-content-between">
      <a routerLink="/home"
        ><img src="assets/images/white-logo.png" class="w-8rem"
      /></a>

      <a
        pButton
        link
        routerLink="/home"
        class="home-btn flex align-items-center justify-content-center gap-2 font-semibold no-underline"
        label="Back To home"
        icon="pi pi-arrow-left"
      ></a>
    </div>
  </div>
</header>
